<body id="page-top">

<header>

  <div class="header-content" id="essay">
    <img src="home.jpg"/>
    <img src="dash1.jpg"/>
    <img src="dash2.jpg"/>
    <img src="dash3.jpg"/>
    <img src="dash4.jpg"/>
    <img src="dash5.jpg"/>
  </div>

</header>

</body>
