<body id="page-top">

<header>

  <div class="header-content" id="essay">
    <img src="" )/>
    <img src="dash1.JPG"/>
    <img src="dash2.JPG"/>
    <img src="dash3.JPG"/>
    <img src="dash4.JPG"/>
    <img src="dash5.JPG"/>
  </div>

</header>

</body>
